 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Imprimela es una compañia que usa tecnologias de vanguardia y siempre esta al tanto del medio ambiente por eso usamos solo materiales biodegradables avalados.</p>
                </div>
                <div class="col-lg-4">
                    <p>Es por esto que en Imprimela ofrecemos el mejor servicio y la atención adecuada para nuestros clientes, gracias por preferirnos! </p>
                </div>
               
            </div>
        </div>
    </section>
